@{
    ViewData["Title"] = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/OurStory.css" asp-append-version="true" />
}

<div class="our-story-body">
    <div class="container">
        <h2 class="text-center_01">Giới thiệu về Hexashop</h2>
        <h1 class="text-center_02">
            Siêu thị điện máy Eco Shop chính thức tham gia vào lĩnh vực kinh doanh bán lẻ điện máy, tạo ra một phong cách mua sắm hoàn toàn mới với người dân thành thị , thông qua các sản phẩm và dịch vụ tới người tiêu dùng. phát huy quyền chủ động hội nhập của các doanh nghiệp,được vị trí trên thị trường và tâm trí người tiêu dùng, khẳng định sự phát triển ổn định.
        </h1>

        <div class="row mt-5 align-items-center">
            <div class="col-md-6">
                <img src="~/images/c1.png" alt="Câu Chuyện Thương Hiệu" class="img-fluid rounded">
            </div>
            <div class="col-md-6">
                <h3>Về thế mạnh</h3>
                <p>
                    Với kim chỉ nam là “ Luôn mang niềm vui tới mọi nhà ”, Siêu thị điện máy đã quy tụ được Ban Lãnh đạo có bề dày kinh nghiệm trong các lĩnh vực điện máy không chỉ mạnh về kinh doanh mà còn mạnh về công nghệ có nhiều tiềm năng phát triển, kết hợp với đội ngũ nhân viên trẻ, năng động và chuyên nghiệp tạo nên thế mạnh nòng cốt của công ty để thực hiện tốt các mục tiêu đề ra.
                </p>
                <p>
                    Hơn nữa, trên cơ sở nguồn lực của công ty và nhu cầu của xã hội, Siêu thị điện máy lựa chọn phát triển kinh doanh các sản phẩm Điện máy, các sản phẩm công nghệ ...phục vụ nhu cầu thiết yếu của người dân với các sản phẩm đa dạng phong phú mang lại giá trị gia tăng cho người tiêu dùng thông qua các dịch vụ sau bán hàng.
                </p>
            </div>
        </div>


        <div class="row mt-5 align-items-center">
            <div class="col-md-6">
                <h3>Cam kết</h3>
                <p>
                    Trở thành đối tác chiến lược trên cơ sở " Hợp tác phát triển bền vững " hợp tác toàn diện lâu dài. Luôn luôn làm khách hàng hài lòng về các sản phẩm và dịch vụ do Siêu thị điện máy  cung cấp. Sự thành công hài lòng của khách hàng là thước đo uy tín hiệu quả của doanh nghiệp.
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/images/c2.png" alt="Fashion In You" class="img-fluid rounded">
            </div>
        </div>
    </div>
</div>



<section class="services">
    <div class="service-item">
        <i class="bi bi-truck"></i>
        <h4>Miễn phí vận chuyển</h4>
        <p>Miễn phí vận chuyển cho đơn hàng trên $150</p>
    </div>
    <div class="service-item">
        <i class="bi bi-coin"></i>
        <h4>Đảm bảo hoàn tiền</h4>
        <p>Trong vòng 30 ngày để đổi trả</p>
    </div>
    <div class="service-item">
        <i class="bi bi-telephone-outbound-fill"></i>
        <h4>Hỗ trợ trực tuyến</h4>
        <p>24 giờ một ngày, 7 ngày một tuần</p>
    </div>
    <div class="service-item">
        <i class="bi bi-credit-card-2-back"></i>
        <h4>Thanh toán linh hoạt</h4>
        <p>Thanh toán bằng nhiều thẻ tín dụng</p>
    </div>

</section>